<mat-toolbar id="main-toolbar" color="primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="row toolbar-brand">
          <div class="col-3">
            <img class="brand-img" src="../assets/Book.png" width="60" height="30" alt="Pusthaka Logo">
          </div>
          <div class="col-7">
            <h2>Pusthaka</h2>
          </div>
        </div>
      </div>
      <div class="toolbar-date col-sm-3 offset-sm-6">
        <div class="row justify-content-end">
          <div class="col-sm-5">
            {{ dateTime | date }}
          </div>
          <div class="col-sm-5" *ngIf="authService.isLoggedIn()">
              <button mat-button (click)="authService.logout()">Logout</button>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>