<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <mat-card>
        <div class="container">
          <div class="row">
            <div class="col-sm-7 book-details">
              <mat-card-title>
                {{ book.title }}
              </mat-card-title>
              <mat-card-content>
                <img src="../../../assets/purple.png" alt="">
              </mat-card-content>
              <mat-card-subtitle>
                {{ book.author }}
              </mat-card-subtitle>
              <mat-card-subtitle>
                {{ book.category }}
              </mat-card-subtitle>
            </div>
            <div class="col-sm-5 align-self-center book-control">
              <mat-card-content>
                <h3 class="book-available" *ngIf="getAvailability()">Book Available</h3>
                <h3 class="book-unavailable" *ngIf="!getAvailability()">Book Not Available</h3>
                <button mat-raised-button [disabled]="!canReserve || !getAvailability()" (click)="reserveCopy()">Reserve Book</button>
                <h3 *ngIf="reserveError">{{ reserveError }}</h3>
              </mat-card-content>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>